---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: blackbox-exporter
  namespace: flux-system
spec:
  targetNamespace: monitoring
  path: ./clusters/apps/monitoring/blackbox-exporter
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  interval: 30m
  retryInterval: 1m
  timeout: 5m
